* {
	box-sizing: border-box;
}

body{
  text-align: left;
  font-size: 100%;
  color: #333;
  font-family:  Arial,Helvetica,sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    color: #211545;
    margin: 3rem 0 1rem;

}

h2 {
    font-weight: 100;
    font-size:2.5rem;
    color: #211545;
    margin: 3rem 0 1rem;
}

h3 {
    font-weight: 100;
    font-size: 1.25rem;
    color: #211545;
    margin: 3rem 0 1rem;
}

h4 {
    font-weight: 100;
    font-size: 1rem;
    color: #211545;
    margin: 3rem 0 1rem;
}

h5 {
    font-weight: 100;
    color: #211545;
    margin: 3rem 0 1rem;
}

h6 {
    font-weight: 100;
    color: #211545;
    margin: 3rem 0 1rem;
}

.mainbody{
  height: 100%;
  max-width: 955px;
  margin: auto;
}
nav.navleft{
  float: left;
  height: 100%;
}

.navtop ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.navtop li a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}

.navtop li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.navtop li a.active {
  background-color: #FFCC99;
  color: #000000;
}

.navleft ul {
  list-style-type: none;
  padding: 0px;
  max-width: 200px;
  background-color: #f1f1f1;
  display: inline-block;
}

.navleft li a {
  display: inline-block;
  color: #000000;
  padding: 10px 30px;
  text-decoration: none;
}

.navleft li a.active {
  background-color: #FFCC99;
  color: #000000;
  display: inline-block;
}

.navleft li a:hover:not(.active) {
  background-color: #555;
  color: white;
  display: inline-block;
}
.bodytext{
  width: 500px;
  margin: auto;
}

.colour {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
}

.colour--primary {
	background: #068c9e;
}

.colour-- {
	background: #068c9e;
}

.colour--secondary {
	background: #056571;
}

.colour-- {
	background: #056571;
}

.colour--dark {
	background: #211545;
}

.colour-- {
	background: #211545;
}

.colour--light{
	background: #83d2d4;
}

.colour-- {
	background: #83d2d4;
}


.colour--highlight{
	background: #479ccf;
}

.colour-- {
	background: #479ccf;
}
